@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400&family=Prompt:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* reset browser */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* design root */

:root {
    --main: #0077B6;
    --secound: #10AF8B;
    --third: #1D5671;
    --forth: #fefefe;
    --font1: 1.5rem;
}

body {
    background-color: #F4F4F4;
    font-family: 'Noto Sans Thai', sans-serif !important;
    font-family: 'Quicksand', sans-serif;
    top: 0px !important;
    /* background-image: url('https://uezkci.stripocdn.email/content/guids/CABINET_8b2a2d2bd91c13d47222717d8a1897e1/images/cubes.png'); */
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
}


/* Navbar */

#navbar-bg {
    background-color: var(--third) !important;
}

.banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    background-color: #666666;
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#readmore {
    width: 200px;
    border-radius: 30px;
    background-color: var(--third);
    border: none;
}

#readmore:hover {
    background-color: var(--secound);
}

.main-banner h1 {
    color: var(--main);
    font-size: 3.5rem;
}

@media (max-width: 991px) {
    .banner-area {
        height: auto;
    }
}


/* Topbar */

.top-bar {
    height: auto;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    color: white;
}

.top-left,
.top-right {
    margin: 10px 20px;
    padding: 5px;
}


/* Topbar */


/* bottom bar */

.bottom-bar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secound);
    color: white;
}

.bottom-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 0;
}

.bottom-bar a {
    color: white;
    text-decoration: none;
}

.bottom-bar li {
    list-style: none;
    padding: 3px 20px;
}


/* bottom bar */


/* Website Logo  adn detail*/

.navbar-brand p {
    margin: 0;
    font-size: 0.8rem;
}


/* Website Logo  adn detail*/

body>#overlay {
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    right: calc(282.6666666667px - 10px);
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow-x: hidden;
    z-index: 1029;
}

@media (min-width: 992px) {
    body>#overlay {
        right: calc(424px - 10px);
    }
}

@keyframes topbar-x {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }
    45% {
        top: 6px;
        transform: rotate(145deg);
    }
    75% {
        transform: rotate(130deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@keyframes topbar-back {
    0% {
        top: 6px;
        transform: rotate(135deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        top: 0px;
        transform: rotate(0);
    }
}

@keyframes bottombar-x {
    0% {
        bottom: 0px;
        transform: rotate(0deg);
    }
    45% {
        bottom: 6px;
        transform: rotate(-145deg);
    }
    75% {
        transform: rotate(-130deg);
    }
    100% {
        transform: rotate(-135deg);
    }
}

@keyframes bottombar-back {
    0% {
        bottom: 6px;
        transform: rotate(-135deg);
    }
    45% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        bottom: 0px;
        transform: rotate(0);
    }
}

.module__white-bg {
    background-color: #fff;
}


/* Google translate */


/* #google_translate_element {
    height: 150px;
    width: auto;
} */

#google_translate_element {
    margin: 2px 0;
}

.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 2px !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-menu-value {
    color: #fefefe !important;
}

.goog-te-menu-frame {
    width: 150px !important;
    height: 60px !important;
    top: 60px!important;
}

.goog-te-menu-value:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: 'Choose Language';
    /* content: 'Translate'; */
    margin-right: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.goog-te-menu-value span:nth-child(1) {
    display: none;
}


/* .goog-te-menu-value span {
    display: none;

} */

.goog-te-menu-value span:nth-child(3) {
    border: none !important;
}

.goog-te-gadget-icon {
    background-position: 0px 0px;
    height: 32px !important;
    width: 32px !important;
    margin-right: 8px !important;
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}


/* ================================== *\
      Mediaqueries
  \* ================================== */


/* Google translate */

#heroBanner .text-container-outer {
    height: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
}

#heroBanner .text-container {
    max-width: 300px;
    height: 100%;
}

#heroBanner .text-container-inner {
    z-index: 5;
}

#heroBanner .title {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 54px;
    color: var(--white);
    margin-bottom: 20px;
}

#heroBanner .paragraph {
    margin: 25px 0;
}

#heroBanner .bg-color {
    background: #000;
    opacity: 0.64;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#heroBanner .container-fluid {
    min-height: 600px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heroBanner .container-fluid a,
#heroBanner .container-fluid p {
    z-index: 10;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

#heroBanner .container-fluid h1 {
    font-size: 5.5rem;
}

#heroBanner .container-fluid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#heroBanner .slider {
    opacity: 1;
}

#heroBanner .banner {
    opacity: 0;
}

#heroBanner .scale-animation {
    animation-name: animation;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#heroBanner .container-fluid a.cta {
    background: var(--secound);
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 15px 45px 15px 45px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    width: 265px;
    text-align: center;
}

#heroBanner .container-fluid a.cta:hover {
    color: var(--secondary-color);
    background: var(--white);
}

#heroBanner .hero-btn-container {
    padding-left: 15px;
}

.date {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: var(--third);
    align-items: center;
    color: white;
}

.date p {
    margin: 0px;
}

.slideshow {
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.t_header {
    background-color: var(--third);
}

.news {
    white-space: pre;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: .2s;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.news-card {
    overflow: hidden;
    height: auto;
    transition: .3s;
}

.news-date {
    position: absolute;
    top: 40px;
    left: 40px;
}

.news-card img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.news-card:hover {
    transform: scale(1.1);
}

.news-card__text-wrapper {
    padding: 0;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-card-all img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.news-card-all {
    transition: .2s;
}

.news-card-all:hover {
    transform: scale(1.1);
}

.download-card {
    position: relative;
}

.download-type {
    position: absolute;
}

.load_more {
    border-radius: 20px;
}

.carousel-item img {
    height: fit-content;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    display: none !important;
}

#coming {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: var(--secound);
    align-items: center;
    color: white;
}

.fa-map-marker-alt {
    color: red;
    margin-right: 5px;
}


/* Login */

.brand-wrapper h1 {
    padding-top: 7px;
    padding-bottom: 8px;
    color: var(--secound);
    font-weight: bold;
}

.brand-wrapper .logo {
    height: 25px;
}

.login-section-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 68px 100px;
    background-color: #fff;
}

@media (max-width: 991px) {
    .login-section-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 575px) {
    .login-section-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100vh;
    }
}

.login-wrapper {
    width: 300px;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width: 575px) {
    .login-wrapper {
        width: 100%;
    }
}

.login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad;
}

.login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal;
}

.login-wrapper .form-control::-webkit-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-moz-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control:-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::placeholder {
    color: #b0adad;
}

.login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: var(--secound);
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
}

.login-wrapper .login-btn:hover {
    border: 1px solid var(--secound);
    background-color: #fff;
    color: var(--secound);
}

.login-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 54px;
}

@media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
        margin-bottom: 16px;
    }
}

.login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}

.login-title {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
}

.login-img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: center;
}

.form-group small {
    display: none;
}


/* Login */

#button {
    display: inline-block;
    color: #fefefe;
    background-color: #00C7A3;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button:hover {
    cursor: pointer;
    color: #fefefe;
    background-color: var(--main);
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#map {
    height: 350px;
    width: 100%;
}

footer {
    background-color: var(--third);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

footer a {
    color: #fefefe;
}

footer p {
    color: #fefefe;
    font-weight: 400;
}

footer b {
    color: #3059fb !important;
    padding: 0%;
}

footer h6 {
    color: var(--third) !important;
    font-weight: 600;
}

#footer-social {
    color: white !important;
    background-color: var(--secound);
}

.tabs-left {
    border-bottom: none;
    border-right: 1px solid #ddd;
}

.tabs-left>li {
    float: none;
    margin: 0px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background: #f90;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}

.tabs-left>li.active>a::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f90;
    display: block;
    width: 0;
}

.scp-breadcrumb a {
    margin: 5px;
}

.share-btn-container {
    background: var(--secound);
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
}

.share-btn-container a i {
    font-size: 32px;
}

.share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: var(--forth);
}

.share-btn-container .fa-twitter {
    color: var(--forth);
}

.share-btn-container .fa-linkedin {
    color: var(--forth);
}

.share-btn-container .fa-pinterest {
    color: var(--forth);
}


/* Media Queries */

@media (max-width: 550px) {
    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        padding: 10px 0;
        justify-content: center;
    }
    .share-btn-container a {
        margin: 0 32px;
    }
}

#activity_bar_header {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: var(--third);
    align-items: center;
    color: white;
}

#activities {
    max-width: auto;
    overflow: hidden;
}

.actcard {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 850px;
    margin: 10px 20px;
    height: auto;
    border-radius: 10px;
    border: none;
}

.actcard {
    text-decoration: none !important;
    color: #000;
}

.card-left {
    float: left;
    width: 30%;
    text-align: center;
}

.card-right {
    width: 60%;
    float: right;
}

@media (max-width: 991px) {
    .card-img-top {
        height: 100% !important;
    }
    .slick-track {
        margin: 0px auto;
    }
    .actcard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--forth) !important;
        box-shadow: 2px -2px 8px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 250px;
        padding: 10px;
        margin: 10px;
    }
    .actcard a {
        color: var(--forth);
    }
    .card-right,
    .card-left {
        float: none;
        width: auto;
    }
    .card-right-top h4 {
        font-size: 0.8rem;
    }
    .card-right-top p {
        font-size: 0.8rem;
    }
}

#news_detail img {
    height: auto;
    width: 100%;
}

#myModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list-inline-item {
    font-size: 0.8rem;
}

#map {
    height: 500px;
    width: 100%;
}

.map_mem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.map_mem p {
    margin-bottom: 60px;
}

.map_mem table {
    margin-top: 60px;
}

.member {
    font-weight: bold;
}

.member a {
    color: var(--main);
    text-decoration: none;
}

.view_more {
    width: 120px;
    height: 30px;
    background: var(--secound);
    color: var(--forth);
    text-align: center;
    margin: auto 0%;
    padding: 0%;
    cursor: pointer;
}

.thead {
    background-color: #B72245;
    color: #e3e3e3;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#news_back {
    text-decoration: none;
    color: #e3e3e3;
}

.paginate_button {
    padding: 3px !important;
}

#gallery_tbl {
    margin-bottom: 20px !important;
}

#month_list li {
    list-style: none;
    margin: 20px auto;
}