@font-face {
    font-family:THSarabun_Bold ;
    src: url(../font/THSarabun_Bold.ttf);
  }


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: THSarabun_Bold;
}

body{
    background-color: #ddd;
}

/* design root */
:root {
    --main: #0077B6;
    --secound: #007AFF;
    --third: #1D5671;
    --forth: #fefefe;
    --font1: 1.5rem;
}



/* Navbar */

nav {
    background-color: #001D3D !important;
    color:inherit !important;
}


.nav-link{
    font-size: 1.5rem;
    font-weight: 600;
}



.main-banner h1 {
    color: var(--main);
    font-size: 3.5rem;
}




/* Topbar */

.top-bar {
    height: auto;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    color: white;
}

.top-left,
.top-right {
    margin: 10px 20px;
    padding: 5px;
}


/* Topbar */


/* bottom bar */

/* bottom bar */


/* Website Logo  adn detail*/

.navbar-brand p {
    margin: 0;
    font-size: 0.8rem;
}


/* Website Logo  adn detail*/



/* Google translate */


/* #google_translate_element {
    height: 150px;
    width: auto;
} */

#google_translate_element {
    margin: 2px 0;
}

.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 2px !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-menu-value {
    color: #fefefe !important;
}

.goog-te-menu-frame {
    width: 150px !important;
    height: 60px !important;
    top: 60px!important;
}

.goog-te-menu-value:before {
   
    font-weight: 200;
    content: 'Language';
    /* content: 'Translate'; */
    margin-right: 5px;
    font-size: 1rem;
    text-decoration: none !important;
}

.goog-te-menu-value span:nth-child(1) {
    display: none;
}


/* .goog-te-menu-value span {
    display: none;

} */

.goog-te-menu-value span:nth-child(3) {
    border: none !important;
}

.goog-te-gadget-icon {
    background-position: 0px 0px;
    height: 32px !important;
    width: 32px !important;
    margin-right: 8px !important;
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}


/* ================================== *\
      Mediaqueries
  \* ================================== */



@keyframes animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#heroBanner .container-fluid a.cta {
    background: var(--secound);
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 15px 45px 15px 45px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    width: 265px;
    text-align: center;
}

#heroBanner .container-fluid a.cta:hover {
    color: var(--secondary-color);
    background: var(--white);
}

#heroBanner .hero-btn-container {
    padding-left: 15px;
}

.date {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: var(--third);
    align-items: center;
    color: white;
}

.date p {
    margin: 0px;
}

.slideshow {
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.t_header {
    background-color: var(--third);
}

.news {
    white-space: pre;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}



.slick-prev,
.slick-next {
    display: none !important;
}



.news-card__text-wrapper {
    padding: 0;
}

#singlenews{
overflow: hidden;

}
#singlenews .img_new{
    width: 100%;
    height: 100%;
   object-fit: cover;
   transition: 0.3s;
  
}
#singlenews .img_new:hover{
    transform: scale(1);
}


.name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-card-all img {
   
    width: 100%;
    object-fit: cover;
    height: 150px;
   
}

.news-card-all {
    transition: .2s;
    padding: 10px !important;

}

.news-card-all:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#download li{
    list-style: none;
}
#activity li{
    list-style: none;
}


.carousel-item img {
    height: fit-content;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    display: none !important;
}

#coming {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: var(--secound);
    align-items: center;
    color: white;
}

.fa-map-marker-alt {
    color: red;
    margin-right: 5px;
}



#button {
    display: inline-block;
    color: #fefefe;
    background-color: #00C7A3;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button:hover {
    cursor: pointer;
    color: #fefefe;
    background-color: var(--main);
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#map {
    height: 350px;
    width: 100%;
}

footer {
background-color: #666666;
background-image: url('../../img/footer.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

footer h5 {
    color: #fefefe;
}

footer p {
  font-size: 18px;
    font-weight: 300 !important;
}

footer b {

    padding: 0%;
}


#footer-social {
    color: white !important;
    background-color: var(--secound);
}

.tabs-left {
    border-bottom: none;
    border-right: 1px solid #ddd;
}

.tabs-left>li {
    float: none;
    margin: 0px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background: #f90;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}

.tabs-left>li.active>a::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f90;
    display: block;
    width: 0;
}

.scp-breadcrumb a {
    margin: 5px;
}

.share-btn-container {
    background: var(--secound);
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
}

.share-btn-container a i {
    font-size: 32px;
}

.share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: var(--forth);
}

.share-btn-container .fa-twitter {
    color: var(--forth);
}

.share-btn-container .fa-linkedin {
    color: var(--forth);
}

.share-btn-container .fa-pinterest {
    color: var(--forth);
}


/* Media Queries */

@media (max-width: 550px) {
    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        padding: 10px 0;
        justify-content: center;
    }
    .share-btn-container a {
        margin: 0 32px;
    }
}

#activity_bar_header {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: var(--third);
    align-items: center;
    color: white;
}

#activities {
    max-width: auto;
    overflow: hidden;
}


@media (max-width: 991px) {
    .card-img-top {
        height: 100% !important;
    }
    .slick-track {
        margin: 0px auto;
    }
    .actcard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--forth) !important;
        box-shadow: 2px -2px 8px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 250px;
        padding: 10px;
        margin: 10px;
    }
    .actcard a {
        color: var(--forth);
    }
    .card-right,
    .card-left {
        float: none;
        width: auto;
    }
    .card-right-top h4 {
        font-size: 0.8rem;
    }
    .card-right-top p {
        font-size: 0.8rem;
    }
}


#news_detail img {
    height: auto;
    width: 100%;
}

.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none; 
  }
  
  .modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none; 
  }
  
  .modal.modal-fullscreen .modal-body {
    overflow-y: auto; 
  }
.list-inline-item {
    font-size: 0.8rem;
}

#map {
    height: 500px;
    width: 100%;
}

.map_mem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.map_mem p {
    margin-bottom: 60px;
}

.map_mem table {
    margin-top: 60px;
}

.member {
    font-weight: bold;
}

.member a {
    color: var(--main);
    text-decoration: none;
}
@counter-style thumbs {
    system: cyclic;
    symbols: "\1F4CC";
    suffix: " ";
}

.member ul {
   list-style: thumbs;
 
}

.view_more {
    width: 120px;
    height: 30px;
    background: var(--secound);
    color: var(--forth);
    text-align: center;
    margin: auto 0%;
    padding: 0%;
    cursor: pointer;
}

.thead {
    background-color: #B72245;
    color: #e3e3e3;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#news_back {
    text-decoration: none;
    color: #e3e3e3;
}

.paginate_button {
    padding: 3px !important;
}

#gallery_tbl {
    margin-bottom: 20px !important;
}

#month_list li {
    list-style: none;
    margin: 20px auto;
}

.main_card{
   height: 580px;
    background-color: rgba(2, 2, 2);
    background-image: url('../../img/Mahidol_No.1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_card_mo{
   
     background-color: rgba(2, 2, 2);
     background-image: url('https://mahidol.ac.th/temp/2018/09/009-2-1.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }

.main_card_bg{

    background-size: cover;
    background-color: rgba(2, 2, 2,0.5);
}


.dataTables_length{
   display: flex;
   justify-content: flex-start;
}
.dataTables_filter{
    display: flex;
    justify-content: flex-end;
 }

.dataTables_info{
    display: flex;
    justify-content: flex-start;
 }

 @media screen and (max-width:768px) {
    #g_table_length label {
         display: none !important;
     }
     #g_table_info { 
         display: none !important;
     }
 }
 #text-slide{
     background-color:var(--secound);
 }
 #text-slide>a{
   text-decoration: none;
}


.news{
    width: 160px;
    background-color:#FED966;
}
.news-scroll a{
    text-decoration: none
}


 


